@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(https://fontlibrary.org/face/average-mono);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 1.42;
}

header {
  display: none;
}

[aria-hidden="true"] {
  display: none;
}

a,
a:visited {
  color: #3498db;
}

a:hover,
a:focus,
a:active {
  color: #2980b9;
}

body {
  color: #454545;
  background-color: #f9f9f9;
  font-family: AverageMonoRegular, Menlo, Monaco, "Courier New", monospace;
  font-weight: normal;
  font-style: normal;
  margin: 0 auto;
  max-width: 48rem;
  line-height: 1.45;
  padding: 72px;
  line-height: 1.85;
  padding-top: 0px !important;
}

p {
  /* font-size: 1rem; */
  margin-bottom: 1.3rem;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

small {
  font-size: .707em;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}


html {
  font-size: 14px;
  max-width: 100%;
}

h1,
h2,
h3 {
  margin-bottom: 1.15rem;
  padding-bottom: .5rem;
  text-align: left;
}

blockquote {
  border-left: 5px solid #777;
  background-color: #f3f3f3;
  padding: 1rem;
}

pre {
  background-color: #f3f3f3 !important;
  box-shadow: 1px 1px #f3f3f3;
  border-radius: 0 0 225px 0/0 0 1px 0;
  border-top: 5px solid #777;
  border-bottom: 1px solid #777;
  line-height: 1.25;
  overflow-x: scroll;
  padding: 24px !important;
}

table {
  border-top: 5px solid #777;
  border-bottom: 1px solid #777;
  margin-bottom: 90px;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 12px 12px;
  border-bottom: 1px solid #919090;
}

td {
  padding: 7px 17px;
}

tbody tr:nth-child(2n) td {
  background-color: #f3f3f3;
}

/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.hljs {
  display: block !important;
  overflow-x: auto !important;
  color: black !important;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-symbol,
.hljs-bullet,
.hljs-section,
.hljs-addition,
.hljs-attribute,
.hljs-link {
  color: #888 !important;
}

.hljs-comment,
.hljs-quote,
.hljs-meta,
.hljs-deletion {
  color: #ccc !important;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-name,
.hljs-type,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}
