let mapleader=" "

" Plugins
set argtextobj
set commentary
set multiple-cursors
set surround
set highlightedyank
set ReplaceWithRegister
let g:highlightedyank_highlight_color = "rgba(221, 217, 204, 155)"

" Settings
" https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md
set ideaput
set ideajoin
set incsearch
set ideamarks
set visualbell
set ideastatusicon=gray
set idearefactormode=keep
set ideawrite
set noshowmode
set NERDTree

" Key maps
map <leader>u :action FindUsages<CR>
nmap <leader>r :action RenameElement<CR>
nmap <leader>gg :action ActivateVersionControlToolWindow<CR>

nmap gd :action EditSource<CR>
nmap ]e :action GotoNextError<CR>
nmap [e :action GotoPreviousError<CR>
nmap ]d :action NextDiff<CR>
nmap [d :action PreviousDiff<CR>
nmap <leader>df :action ReformatCode<CR>
nmap <C-k> :action Vcs.Operations.Popup<CR>
