request/
tramp
url/
tutorial
xkcd
.lsp-session*
/.cache/
/.emacs.desktop
/amx-items
/bookmarks
/eshell/
/forge-database.sqlite
/history
/ido.last
/places
/projectile-bookmarks.eld
/projectile.cache
/recentf
/smex-items
/straight/*
!/straight/versions
/transient/
/var
projects
/elpa
.mc-lists.el
/eln-cache/
forge-database*